<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Obrigado por Inscrever-se, <%= @admin.email %>!</h1>
    <p>Obrigado por estar junto! Agora entre e faça muitas coisas!</p>
  </body>
</html>
