<!-- coluna -->
<div class="coluna">
<!-- dados -->
	<table>
		<tr>
			<th>Aniversário:</th>
			<th>E-mail:</th>
			<th>Facebook:</th>
			<th>Github:</th>
			<th>Trello:</th>
			<th>Telegram:</th>
			
		</tr>
		<tr>
			<th><%= @user.aniversario %></th>
			<th><%= @user.email %></th> <!--páginas poderiam ser hyperlinks -->
			<th><%= @user.fb %></th>
			<th><%= @user.github %></th>
			<th><%= @user.trello %></th>
			<th><%= @user.telegram %></th>
		</tr>
	</table>
</div>
<!-- coluna -->
<div class="coluna">

</div>
