    <h1>Listagem de Restaurantes</h1>

    <table>
      <tr>
        <th>email</th>
      </tr>

    <% @users.each do |user| %>
  	<tr>
    	<td><%= user.email %></td>
  	</tr>
	<% end %>
    </table>

